* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

div[class^="section"] {
    display: flex;
    flex-wrap: wrap;
}

div {
    margin: 8px;
}

.blue, .green {
    height: 40px;
    width: 100%;
}

.blue {
    background-color: #1e90ff;
}

.green {
    background-color: #008000;
}

div[class^="red"] {
    background-color: #ff0000;
    height: 60px;
    width: 100%;
}

.orange {
    background-color: #ffa500;
    height: 150px;
    width: 100%;
}

.red--hidden {
    display: none;
}

@media (min-width: 768px) {
    .red--hidden {
        display: flex;
    }

    .section_red div {
        width: 40%;
        flex-grow: 1;
    }
}

@media (min-width: 992px) {
    div[class^="section"] {
        flex-wrap: nowrap;
    }

    .blue {
        height: 60px;
    }

    .orange {
        height: 240px;
    }

    .green {
        height: 200px;
    }

    div[class^="red"] {
        height: 130px;
    }
}

