* {
    /*outline: 1px solid red;*/
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

h2 {
    text-align: center;
    padding: 10px;
    color: #808080;
    font-size: 40px;
    font-weight: lighter;
}

hr {
    width: 50px;
    border: 1px solid #808080;
}

.topbar__login__panel {
    background-color: #000000;
    height: 60px;
    position: relative;
}

.search__bar {
    width: 200px;
    height: 30px;
    border: 1px solid #7E7E7E;
    background-color: #000000;
    margin-top: 15px;
    margin-left: 350px;
    padding: 5px;
    color: #7E7E7E;
    font-size: 15px;
}

.fa-search {
    color: #7E7E7E;
    margin-top: 22px;
    margin-left: -30px;
    cursor: pointer;
}

.login__button, .register__button {
    position: absolute;
    color: #848482;
    background-color: #000000;
    border: none;
    text-transform: none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
}

.login__button {
    right: 300px;
}

.register__button {
    right: 170px;
}

.fa-pencil-alt, .fa-user-circle {
    margin-right: 8px;
}

.topbar__nav {
    background-color: #7E7E7E;
}

.logo {
    float: left;
    margin-left: 350px;
    margin-top: 10px;
}

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

.navigation {
    float: right;
    margin-right: 170px;
}

.navigation__list__item {
    display: inline-block;
    list-style-type: none;
    font-size: 17px;
    padding: 30px 20px 15px;
    border-top: 7px solid;
    margin-right: -5px;
    margin-top: -16px;
    width: 130px;
    text-align: center;
}

.first {
    border-top: 10px solid yellow;
}

.second {
    border-top: 10px solid orange;
}

.third {
    border-top: 10px solid hotpink;
}

.forth {
    border-top: 10px solid deeppink;
}

.fifth {
    border-top: 10px solid darkviolet;
}

.sixth {
    border-top: 10px solid purple;
}

.seventh {
    border-top: 10px solid darkblue;
}

.eighth {
    border-top: 10px solid blue;
}

.navigation__list__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.hero {
    padding-top: 80px;
    height: 100vh;
    position: relative;
    text-align: center;
    background-size: cover;
    background: #292929 url(../images/hero-background-city.jpg) fixed;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__content__title {
    color: #39C9BB;
    font-size: 25px;
}

.hero__content__title span {
    color: #ffffff;
    font-size: 35px;
}

.cta__buttons {
    text-align: center;
}

button {
    border: 2px solid #39C9BB;
    background-color: #39C9BB;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px;
    font-weight: bolder;
}

button:hover {
    background-color: transparent;
}

/*SUPERB FEATURES*/

.features {
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-top: 20px;
}

.features__container {
    display: inline-block;
    width: 60%;
    transform: translate(35%, 0);
    padding-top: 20px;
}

.feature {
    width: 50%;
    float: left;
    padding-top: 10px;
}

.feature__icon {
    width: 70px;
    float: left;
    padding-right: 5px;
    text-align: center;
    font-size: 30px;
    color: #39C9BB;
}

.feature__description {
    width: calc(100% - 70px);
    float: left;
}

.feature__description h3 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.feature__description p {
    font-size: 17px;
    margin-top: -5px;
}

/* BLOG POSTS */

.blog__posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 400px;
    flex-wrap: wrap;
}

.post {
    height: 440px;
    width: 290px;
    position: relative;
    border-bottom: 1px solid #848482;
    margin-bottom: 10px;
}

.post p {
    font-size: 17px;
    font-weight: lighter;
    color: #848482;
}

a.post__title {
    display: block;
    font-size: 25px;
    color: #39C9BB;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 20px;

}

a.post__title:hover {
    color: #9400D3;
}

.post__footer {
    display: inline-block;
    padding-bottom: 15px;
}

.post__footer a {
    text-decoration: none;
    color: #39C9BB;
    font-size: 15px;
}

a.more__info {
    position: absolute;
    left: 0;
    color: #39C9BB;
    font-size: 15px;
}

a.more__info:hover, a.comments:hover {
    color: #9400D3;
}

.fa-comments {
    position: absolute;
    right: 30px;
}

.comments__number {
    position: absolute;
    color: #848482;
    font-size: 15px;
    right: 0;
}

/* COMPANY EXPERIENCE */

.company__experience {
    background-color: #39C9BB;
    padding-top: 5px;
    padding-bottom: 10px;
}

.company__experience h2 {
    color: #ffffff;
}

.company__experience hr:nth-of-type(1) {
    border: 1px solid white;
}

.company__experience__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 40px auto;
    text-align: center;
    width: 70%
}

.web__dev, .results, .budget {
    padding-top: 10px;
}

.web__dev__circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#39C9BB, #39C9BB),
                      linear-gradient(50deg, mediumturquoise 60%, white 30%),
                      linear-gradient(120deg, white 36%, white 30%),
                      linear-gradient(300deg, white 36%, white 30%),
                      linear-gradient(210deg, white 36%, white 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(40deg);
    position: relative;
}

.results__circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#39C9BB, #39C9BB),
                    linear-gradient(50deg, mediumturquoise 60%, white 30%),
                    linear-gradient(120deg, white 36%, white 30%),
                    linear-gradient(300deg, mediumturquoise 36%, mediumturquoise 30%),
                    linear-gradient(210deg, white 36%, white 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(40deg);
    position: relative;
}

.budget__circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#39C9BB, #39C9BB),
                linear-gradient(50deg, white 70%, mediumturquoise 70%),
                linear-gradient(120deg, white 36%, white 30%),
                linear-gradient(300deg, white 36%, white 30%),
                linear-gradient(210deg, white 36%, white 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(360deg);
    position: relative;
}

.inner__circle {
    position: absolute;
    border: 1px solid black;
    border-radius: 100%;
    background-color: black;
    width: 150px;
    height: 150px;
    top: 43px;
    left: 43px;
}

.fa-cloud, .fa-fighter-jet, .fa-tree {
    color: white;
    font-size: 60px;
    position: relative;
    top: 44px;
    transform: rotate(-40deg);
}

.value {
    font-size: 50px;
    color: #ffffff;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 10px;
}

.content {
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 0;
}

.company__experience__dots {
    transform: translate(0%, 35%);
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

/* TEAM */

.team__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto 0;
    max-width: 1000px;
}

.team__section__member {
    width: 212px;
    height: 370px;
    border: 1px solid #cecece;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.about {
    position: absolute;
    width: 160px;
    height: 60px;
    left: 25px;
    right: 25px;
    top: 120px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    z-index: 1;
}

.about h4 {
    margin: 8px auto 0;
    text-align: center;
    font-size: 17px;
    color: #39C9BB;
}

.about p {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #848482;
}

.motto {
    position: absolute;
    width: 210px;
    height: 220px;
    bottom: 0;
    text-align: center;
    padding: 50px 10px 10px;
    font-size: 15px;
    color: #848482;
}

.motto--other{
    position: absolute;
    width: 210px;
    height: 90px;
    bottom: 0;
    background-color: #ffffff;
}

.profile__button {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 310px;
    width: 160px;
    height: 40px;
    background-color: #ffffff;
    border: 3px solid #39C9BB;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    color: #39C9BB;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 8px;
}

.profile__button:hover {
    background-color: #39C9BB;
    color: #ffffff;
}

/* PRICES */

.prices {
    height: 450px;
    background-color: #39C9BB;
    margin-top: 50px;
    padding-top: 10px;
}

.prices h2 {
    color: #ffffff;
}

.prices hr:nth-of-type(1) {
    border: 1px solid white;
}

.price__table {
    border: 1px solid #848482;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    margin: 40px auto 0;
    background-color: #ffffff;
}

.price__table thead {
    background-color: #cecece;
    font-size: 20px;
}

.price__table th, .price__table td {
    border: 2px solid #cecece;
    padding: 10px;
    width: 200px;
}

a.product__name {
    text-decoration: none;
    color: #000000;
    font-style: italic;
}

a.product__name:hover {
    font-weight: bolder;
}

/* CONTACT */

.contact {
    background-color: #EBE7E6;
    padding-top: 5px;
}

.contact__form {
    width: 750px;
    height: 350px;
    margin: 40px auto 0;
    position: relative;
}

.contact__form__type {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.contact__form__type > label {
    width: 150px;
}

.contact__form__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

.contact__form__data input {
    width: 220px;
    border: 1px solid #EBE7E6;
}


.contact__form__message textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #EBE7E6;
}

.contact__form__button {
    position: absolute;
    right: 0;
}

.contact__button {
    color: #ffffff;
    width: 70px;
    margin-left: 1230px;
}

.contact__button:hover {
    color: #39C9BB;
    background: white;
}

.main__footer {
    background-color: #292929;
    height: 200px;
}

.main-footer h3 {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 20px;
}

.main__footer__contact {
    color: #ffffff;
    padding-top: 10px;
}

.main__footer__contact ul {
    list-style-type: none;
}

.main__footer__contact li {
    font-size: 15px;
    font-weight: bolder;
}